<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
<meta charset="utf-8">

{{ theme:partial src="_meta" }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{# Place favicon.ico and apple-touch-icon.png in the root directory. #}}
<link rel="stylesheet" href="{{ theme:css src="main.css" }}">
<link rel="stylesheet" href="{{ theme:css src="animate.min.css" }}"> 
<script src="{{ theme_path }}bower_components/modernizr/modernizr.js"></script>
<!-- feeds -->
<link rel="alternate" type="application/rss+xml" href="{{ _site_url }}/feed" title="{{ _site_name }} RSS Feed"> 

<script src="https://use.typekit.net/kxp0vip.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- analytics -->
{{ theme:partial src="_analytics" }}

</head>
