<section id="footer"> 
	<footer class="large-4 small-centered columns">
		<p>
			<a href="/">
				<i class="icon icon-logo clearfix"></i>
			</a>
		</p> 
		<p>© All rights reserved 2015</p>
		<ul class="footer__social inline-list">
			<li>
				<a href="#"><i class="icon icon-fb"></i></a> 
			</li>
			<li>
				<a href="#"><i class="icon icon-twitter"></i></a>
			</li>
			<li>
				<a href="#"><i class="icon icon-linked"></i></a>
			</li>
		</ul>
	</footer>
</section>
 
<script type="text/javascript">
	$(document).ready(function(){
		$('.section__intro h1').addClass('animated bounceOutLeft');
	})
</script>
{{# 
====================================
  NOTES
====================================

This is the main footer partial.

For more information on partials see http://statamic.com/learn/theming/partials.
  
#}}
