.row-full {
  width:100%;
  padding-left:1em;
  padding-right:1em;
  @include grid-row($behavior: nest); // Other options include collapse and nest-collapse.
  margin:0; 
}
  
#footer{
	text-align:center;
	background-color:#202020;
	padding:rem-calc(24px) 0;
	@media #{$large-up} {
		text-align:left;
	}

	p{
		font-size:rem-calc(12px) !important;
		font-family: "Oxygen";
		margin:0;
		text-transform: uppercase;
		letter-spacing: .5px;
		font-weight:600;
	}

	a{color:#6395da;}
	a:hover,a:active{
		color:rgba(255,255,255,0.8);
		i{color:rgba(255,255,255,0.8);}
	}
	@media #{$large-up} {
		//padding-top:1.8em;
	}


	ul{
		margin:0;
		list-style: none;
		li{}
	} 

	p{font-size:rem-calc(14px);color:#4a4a4a;}
	ul.footer__social{
		left: 0;
	    right: 0;
	    display: table;
	    margin: auto;
		li{
			padding:0 rem-calc(12px);
			margin-left:0;
			font-size:rem-calc(15px);
			a{color:#4a4a4a;}
			@media #{$large-up} {
				padding-left: rem-calc(38px);	
				padding-right:0;
			}
		}
	}

}


