p{
	color:$steel;
	font-size: 16px;
    line-height: 2;
}
.header__title{
	margin:0;
	text-transform: uppercase;
	letter-spacing:-2px;
	font-weight:800;
	font-size:rem-calc(34px);
	padding-top:.2em;
	padding-bottom:.77em;

	.smaller{
		font-size:16px;
		vertical-align:top;
		letter-spacing: 0;
	}


	&--border{
		position: relative;
		&:after{
			content: " ";
		    width: 56px;
		    height: 1px;
		    background: #FFFFFF;
		    bottom: -5px;
		    display: block;
		    position: absolute;
		}
	}
}

.header__sub-title{
	margin:0;
	font-size:rem-calc(14px);
	font-style: italic;
}