/* Main style for sections */
.text-block{
	border:1px solid #FFF;
}
.background{
	&--overlay{
		top:0;
		left:0;
		position:absolute;
		width:100%;
		height:100%;
		z-index:1;
		background-color:rgba(0,0,0,0.2);
	}
}

.section__space{
	padding:rem-calc(32px) 0;
}
.section__seperator{
	height:96px;
	width:1px;
	left:0;
	right:0;
	margin:auto;
	margin-bottom:rem-calc(20px);

	.seperator__title{
		font-size:rem-calc(18px);
	}
}

.section{
	position: relative;
	padding-top:rem-calc(27px);
	padding-bottom:rem-calc(27px);
	padding-left:rem-calc(20px);
	padding-right:rem-calc(20px);
	overflow:hidden; 
	background-size: cover;
	    background-position: center center;

	@media #{$large-up} {
		padding-left:rem-calc(70px);
		padding-right:rem-calc(70px);
		padding-top:rem-calc(97px);
		padding-bottom:rem-calc(97px);	
	}
	&--no-padding{padding:0 !important;}
	&--no-padding-top{padding-top:0 !important;}
	&--no-padding-bottom{padding-bottom:0 !important;}
	&--no-padding-vertical{padding-top:0 !important;padding-bottom:0 !important;}
	&--less-padding-vertical{
		padding-top:rem-calc(48px);
		padding-bottom:rem-calc(48px);
	}
	&--no-padding-horizontal{padding-left:0 !important;padding-right:0 !important;}


	&--full {
        height:100%;
        position:relative;
        background-size: cover;
        min-height:777px; 
        @media #{$xlarge-up} {
        	 min-height:1000px; 	
        }  
    }

    &--half{
    	height:77%;
    	position:relative;
        background-size: cover; 
        min-height:567px; 
    }

    &--third{
    	height:40%;
    	position:relative;
        background-size: cover; 
        min-height:400px;
    }



    &__text{
    	text-align:center; 
    	z-index:2;
    	padding:2em;

    	&.no-border{
    		.section__title,.section__alone-text{border:0;}
    		.section__alone-text{padding-top:0;}
    		.section__title{padding-bottom:rem-calc(26px);}
    	}

    	.section__title{
    		font-size:rem-calc(26px);
		    display: table;
		    width: 85%;
		    left: 9;
		    left: 0;
		    right: 0;
		    margin: auto;
		    font-weight:700; 
		    letter-spacing: -2px;
		    padding-bottom:10px;
		    line-height:1;

		    @media #{$medium-up} {
		    	font-size:rem-calc(62px);	
		    }
    	}
    	.section__alone-text{
    		font-size:rem-calc(16px);
    		padding:rem-calc(22px) rem-calc(27px);
    		border: 1px solid #FFF;
    	 	@media #{$medium-up} {
    	 		font-size:rem-calc(22px);
    	 		padding:rem-calc(42px) rem-calc(57px);	
    	 	}

    	}
    	p,.section__alone-text{font-weight:400;}
    	&--left{border-left:1px solid #FFF;}
    	&--right{border-right:1px solid #FFF;}
    }

    &__recruitment{
    	.header__title{
    		font-size:rem-calc(22px);
    		padding-bottom:0;
    		margin-bottom:rem-calc(52px);
    		&:after{max-width:27px;right:0;margin:auto;bottom:-10px;}
    	}
    }

    &__simple{
    	padding:rem-calc(97px) 1em;
    	.header__text{line-height:36px;}
    }
    &__contact{
    	.background--overlay{
			background-color: rgba(28, 127, 157, 0.82);
		}
    }
}

.section__giveaway{
	.header__title{
		font-size:rem-calc(34px);
		padding-bottom:.3em; 
	}
}

#intro{
	.button-enter{
		z-index:2;
		width:77px;
		height:77px;
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
	    bottom: -38px;
	    line-height: 77px;
	    padding: 0;
	    border-radius:10em;
	    font-size:14px;
	}
}

.button-enter{
	z-index: 2;
    width: 77px;
    height: 77px;
    border:2px solid #FFF;
}

.section__email{
	padding:rem-calc(62px) 0;
	padding-left: 1em;
    padding-right: 1em;
	.header__title{
		font-size: 1.75rem;
	    letter-spacing: 0;
	    font-weight: 300;
	    text-transform: inherit;
	    padding-bottom: .25em;
	}
	.row{z-index:2;position: relative;}
	form{
		div{padding:0;}
		input{
			width:100%;
			height:50px;
			padding-left:15px;
		}
		input:not(.button){
			color:$black;
		}
		.button{
			text-transform: uppercase;
		    font-size: 14px;
		    font-weight: 600;
		    letter-spacing: 1.5px;
		}

	}
	p{
		font-size:rem-calc(16px);
	}
}

.component__simple-text{
	.title{
		text-transform: uppercase;
		border-top:1px solid #000;
		letter-spacing:1px;
		display: table;
		font-size: 12px;
		 padding-top: 1.2em;
	}
}
.component__icon-list{
	padding-top: 1.4em;

	> *{float:left;}
	.icon{
		width:30px;
		i{font-size:24px;}
	}
	.text{width:80%;}
	.title{
		letter-spacing:1px;
	}
	.line{
		border-bottom:1px solid #eee;
		width: 100%;
    	float: right;
	}
	p{
		font-family:$body-font-family;
		font-size:rem-calc(14px);
	}

}

.component__support{
	border:1px dashed #cecece;
	padding:rem-calc(38px) rem-calc(38px) rem-calc(38px) rem-calc(38px);
	@media #{$large-up} {
		margin-left:2em;
		padding:rem-calc(48px) rem-calc(64px) rem-calc(38px) rem-calc(64px);
	}
}


.list__icon{
	margin:0;
	list-style: none;

	.icon{display:block;padding-bottom:rem-calc(23px);}
	li{
		display: block;list-style: none;padding-top:1.27em;
		&:first-child{padding-top:0;}
	} 
	p{font-size:rem-calc(16px);line-height:26px;margin:0;} 
	
}


.section__information{
	height:rem-calc(677px);
	.header__title{
		position: relative;
		i{
			margin-left: -50px;
		    font-size: 30px;
		    padding-right: 14px;
			color:$primary-color;
		}
	}
	.information__left{
		padding:rem-calc(30px) rem-calc(28px);
		@media #{$medium-up} {
			padding:rem-calc(51px) rem-calc(68px);	
		}
		@media #{$large-up} {
			padding:rem-calc(71px) rem-calc(98px);	
		}
	}
	.information__right{
		height:100%;
		background-color:#eee;
		padding:rem-calc(42px);

		.information__title{
			@media #{$small-only} {
				font-size:rem-calc(19px);
			}
		}

		.information__link{
			&:hover,&:active{
				background-color:$primary-color;
				*{color:$white;}
			}
			a{color:$black;font-size:rem-calc(18px);}
			i{margin-left:21px;    vertical-align: middle;}
		}

		.map{
			z-index:1;
		}
		> *:not(.map){z-index:2;position: absolute;padding:rem-calc(18px) rem-calc(47px)}
		.information__link{bottom:rem-calc(42px);right:rem-calc(42px);}
	}
	.blog-feed{padding-top:rem-calc(28px)} 
}

.component__step{
	> *{float:left;display:inline-block;}
	.icon{
		width:67px;
		height:67px;
		text-align: center;
	    line-height: 67px;
	    border-radius:10em;
	    border:1px solid #ececec;
	    i{
	    	color:$primary-color;
	    }
	}
	.text{
		width: 75%;
	    padding-left: 1.5em;
	}
	.header__title{
		padding-bottom:.1em;
	}
	.header__sub-title{
		color:#6f6f6f;
		font-style:normal;
		text-transform: uppercase;
		letter-spacing:1px;
		    padding-bottom: .5em;
	}
	p{
		font-size:rem-calc(14px);
		font-family:$body-font-family;
		line-height:1.6;
	}

}

.section__clients{
	background:#bbb;
	background-size:cover !important;
	padding:rem-calc(72px) 0 rem-calc(42px);
	   
	.header__title{
		font-size:rem-calc(28px);
		letter-spacing:0;
		font-weight:300;
		text-transform: inherit;
		padding-bottom:.25em;
	}
	.row{z-index:2;position: relative;}
	p{margin-bottom:2.5em;}

	.large-2{
		width:100%; 
		@media #{$large-up} {
		width:20%;	
		}
	}
}

.section__header{
	padding:rem-calc(67px) 0;
	.header__title{font-size:rem-calc(42px);padding-bottom:rem-calc(16px);}
	p{
		font-size:rem-calc(16px);
		@media #{$large-up} {
			font-size:rem-calc(16px);	
		}
		color:$font-gray;
	}
}

.section__intro{
	@media #{$medium-up} {
		padding-top:rem-calc(77px);	
	}
	@media #{$large-up} {
		min-height:827px;
		padding-top:rem-calc(100px);	
	}
	@media #{$xlarge-up} {
		min-height:1027px;
	}
	.header__title{
		padding-bottom:rem-calc(22px);
		
	}
}


