<section class="section__intro section--full text--white" style="background-image:url('{{ hero }}');">
	<div class="row">
		<div class="section__text large-9 large-centered columns">
			<h1 class="header__title">Introducing innovative managed services</h1> 
			<h3 class="header__sub-title">Say hello to your new management platform.</h3>
		</div>
	</div>

	<div class="component__solution large-7 large-centered columns">
		<div class="component__solution-block medium-6 columns">
			<h2 class="header__title header__title--border">THE ISSUE</h2>
			<p>In the global economy, Enterprises face an increasing fierce, international competition to develop faster, new products and services to gain market shares and to increase margins.</p>
		</div>
		<div class="component__solution-block medium-6 columns">
			<h2 class="header__title header__title--border">OUR SOLUTION</h2>
			<p>Airwood enables Enterprises to focus on their core business through innovative and disruptive Managed Services, as a new way of consuming IT resources.</p>
		</div>
	</div>

	<div class="background--overlay" style="background-color:rgba(0,0,0,{{ darkness }});"></div> 
</section>

<section class="section__services section">
	<div class="large-8 large-centered columns">
		<div class="component__service-block clearfix">
			<h3 class="header__title">YOUR CHALLENGES</h3>
			<div class="service-block large-6 columns">
				<div class="icon-block">
					<i class="icon icon-fb"></i>
				</div>
				<h4 class="header__sub-title">Focusing on your business</h4> 
				<ul>
					<li>Competition becomes global</li>
					<li>Focus your resources on developing market shares </li>
					<li>Transform IT as a business partner</li>
				</ul>
			</div>

			<div class="service-block large-6 columns">
				<div class="icon-block">
					<i class="icon icon-fb"></i>
				</div>
				<h4 class="header__sub-title">Focusing on your business</h4> 
				<ul>
					<li>Competition becomes global</li>
					<li>Focus your resources on developing market shares </li>
					<li>Transform IT as a business partner</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="large-8 large-centered columns">
		<div class="component__service-block clearfix">
			<h3 class="header__title">YOUR CHALLENGES</h3>
			<div class="service-block large-6 columns">
				<div class="icon-block">
					<i class="icon icon-fb"></i>
				</div>
				<h4 class="header__sub-title">Focusing on your business</h4> 
				<ul>
					<li>Competition becomes global</li>
					<li>Focus your resources on developing market shares </li>
					<li>Transform IT as a business partner</li>
				</ul>
			</div>

			<div class="service-block large-6 columns">
				<div class="icon-block">
					<i class="icon icon-fb"></i>
				</div>
				<h4 class="header__sub-title">Focusing on your business</h4> 
				<ul>
					<li>Competition becomes global</li>
					<li>Focus your resources on developing market shares </li>
					<li>Transform IT as a business partner</li>
				</ul>
			</div>
		</div>
	</div>
</section>

