<section class="section__intro section--full text--white" style="background-image:url('{{ hero }}');">
	<div class="row">
		<div class="section__text large-9 large-centered columns">
			<h1 class="header__title">Innovez au travers de services managés</h1> 
			<h3 class="header__sub-title">Démarrez l’expérience de votre nouvelle plateforme de supervision</h3>
		</div>
	</div>

	<div class="component__solution large-8 large-centered columns">
		<div class="component__solution-block medium-6 columns">
			<h2 class="header__title header__title--border">THE ISSUE</h2>
			<p>Dans une économie globale, les Entreprises font face à une compétition toujours plus forte. Les Entreprises doivent développer plus vite de nouvelles opportunités, de nouveaux marchés, de nouveaux produits.</p>
		</div>
		<div class="component__solution-block medium-6 columns">
			<h2 class="header__title header__title--border">OUR SOLUTION</h2>
			<p>L’ambition d’airwood est de permettre aux Entreprises de concentrer leurs efforts sur leurs métiers en s’appuyant sur des services managés innovants et un nouveau moyen de consommer les ressources informatiques.</p>
		</div>
	</div>

	<div class="background--overlay" style="background-color:rgba(0,0,0,{{ darkness }});"></div> 
</section>

<section class="section__services section">
	<div class="large-9 large-centered columns">
		<div class="component__service-block clearfix">
			<h3 class="header__title">QUELS SONT LES ENJEUX DES ENTREPRISES?</h3>
			<div class="service-block large-6 columns"> 
				<div class="icon-block">
					<img src="_themes/s8/svg/focus.svg" width="100" height="100">
				</div>
				<h4 class="header__sub-title">Concentrez-vous sur vos métiers</h4> 
				<ul>
					<li>Mobilisez vos ressources sur vos métiers dans un contexte concurrentiel fort</li>
					<li>Accélerez votre transformation digitale</li>
					<li>Transformez l’IT comme un (business partner)</li>
				</ul>
			</div>

			<div class="service-block large-6 columns">
				<div class="icon-block">
					<img src="_themes/s8/svg/accelerate.svg" width="100" height="100">
				</div>
				<h4 class="header__sub-title">Renforcez votre compétitivité</h4> 
				<ul>
					<li>Lancez une nouvelle activité, un nouveau produit plus vite que vos concurrents</li>
					<li>Gagnez des parts de marché, améliorez vos marges</li>
					<li>Fidélisez vos clients</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="large-8 large-centered columns">
		<div class="component__service-block clearfix">
			<h3 class="header__title">COMMENT L’IT PERMET D’ADRESSER CES ENJEUX?</h3>
			<div class="service-block large-6 columns">
				<div class="icon-block">
					<img src="_themes/s8/svg/flexibility.svg" width="100" height="100">
				</div>
				<h4 class="header__sub-title">Soyez agile</h4> 
				<ul>
					<li>Devenez un fournisseur de catalogue de services innovants</li>
					<li>Développez des services, oubliez les infractrutures</li>
					<li>Innovez en réduisant la prise de risque</li>
					<li>Simplifiez la gestion du changement</li>
				</ul>
			</div>

			<div class="service-block large-6 columns">
				<div class="icon-block">
					<img src="_themes/s8/svg/leverage.svg" width="100" height="100">
				</div>
				<h4 class="header__sub-title">Dépensez différemment (OPEX)</h4> 
				<ul>
					<li>Liberez et réservez votre capacité d’investissement pour vos métiers (CAPEX)</li>
					<li>Maitrisez votre budget</li>
					<li>Externalisez la prise de risque</li>
				</ul>
			</div>
		</div>
	</div>
</section>

